*/.DS_Store
**/.Rproj.user
**/.RData
/.DS_Store
**/.Rhistory
**/.Rhistory
.Rproj.user
**/*.log
*/*/*/*/*.log
**/.DS_Store
**/.Ulysses-Group.plist
**/.Ulysses-Settings.plist
**/*history
**/.ipynb_checkpoints
**/.jupyter
**/sbc
**/*_dep
q