name: Render Quarto in container

on:
  push:
    branches: ["main"]
    paths: 
       - lx-public/HA/sessions/**
       - germanic/HA/drafts/**
       - szondi/docufiction/wg-sebald/**
  workflow_dispatch:

jobs:
  render:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/${{ github.repository_owner }}/quarto-r-tex:latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: chk vars
      run: |
         ls -la
         echo "DOWNLOAD_PW=${{ secrets.DOWNLOAD_PW }}" >> .Renviron
         curl -o r.json https://ids.dh-index.org/api/ids-version
         cat r.json
         ls -la
         echo "should display"
         cat .Renviron
         echo "nestcepas...."
    - name: Render Quarto site
      run: |
         quarto render lx-public/HA/sessions/ -P reload:false
         quarto render germanic/HA/drafts/ -P reload:false
         quarto render szondi/docufiction/wg-sebald/ -P reload:false
         ls
         echo "---- q content..."
         ls q
         #echo "---- q/publx content..."
         #ls q/publx/
         #echo "---- ls 001"
         #ls q/publx/001
    - name: Upload rendered HTML directory
      uses: actions/upload-artifact@v4
      with:
        name: q-open # target
        path: q # source

  deploy:
    runs-on: ubuntu-latest
    needs: render
    steps:
    - name: Download rendered directory
      uses: actions/download-artifact@v4
      with:
        name: q-open
        path: q-open

    - name: Check out Repo B
      uses: actions/checkout@v4
      with:
          repository: esteeschwarz/open-lx
          token: ${{ secrets.TARGET_REPO_PAT }}
          path: target

    - name: Copy into Repo B/public
      run: |
       #    rm -rf target/public/*
       #   mkdir -p target/public
        cp -r q-open/* target/essais/

    - name: Commit and push
      run: |
          cd target
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Update quarto sites" || echo "No changes"
          git push
      env:
          GITHUB_TOKEN: ${{ secrets.TARGET_REPO_PAT }}
    
    - name: Check out Repo C
      uses: actions/checkout@v4
      with:
        repository: esteeschwarz/DC-LX
        token: ${{ secrets.TARGET_REPO_PAT }}
        path: target
    - name: Copy into Repo C/public
      run: |
        #    rm -rf target/public/*
        #   mkdir -p target/public
         cp -r q-open/* target/essais/
    - name: Commit and push
      run: |
        cd target
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add .
        git commit -m "Update quarto sites: general" || echo "No changes"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.TARGET_REPO_PAT }}

      # - name: Render Quarto
      #   run: |
      #     quarto render lx-public/HA/sessions/ -P reload:false
      #     ls q/publx/001

      # - name: Upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: publx-001
      #     path: q/publx/001
