name: Render quarto (dcl-pr)
'on':
  push:
    branches: main
    paths: lx-public/HA/DCL/pages/**
  workflow_dispatch: ~
jobs:
  render:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository_owner }}/quarto-r-tex:latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Render Quarto site
      run: |-
        quarto render lx-public/HA/DCL/pages -P reload:false
        ls q
    - name: Upload rendered HTML directory
      uses: actions/upload-artifact@v4
      with:
        name: q-open
        path: q
  deploy:
    runs-on: ubuntu-latest
    needs: render
    steps:
    - name: Download rendered directory
      uses: actions/download-artifact@v4
      with:
        name: q-open
        path: q-open
    - name: Check out Repo B
      uses: actions/checkout@v4
      with:
        repository: esteeschwarz/open-lx
        token: ${{ secrets.TARGET_REPO_PAT }}
        path: target
    - name: Copy into Repo B/public
      run: |
        #    rm -rf target/public/*
        #   mkdir -p target/public
         cp -r q-open/* target/essais/
    - name: Commit and push
      run: |
        cd target
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add .
        git commit -m "Update quarto sites: dcl-pr" || echo "No changes"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.TARGET_REPO_PAT }}
